* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.img-wrapper {
  margin: 200px auto;
  width: 600px;
  height: 300px;
  border: 10px solid #ffccff;
  box-shadow: 0 8px 10px 0px rgba(0, 0, 0, 0.3),
              0 0px 10px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;

  text-align: center;
}

.images {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*把过渡属性换成left*/
  transition: left 0.8s ease-in-out;
  /* 需要横向排列图片，使用弹性布局比较方便 */
  display: flex;
}

[data-img] {
  width: 100%;
  vertical-align: bottom;
  
}

.img-wrapper .change-img{
  position: absolute;
  bottom: 10px;
  right: 10px;

  z-index: 100;
}

.change-img-btn {
  float: left;
  width: 30px;
  line-height: 30px;
  margin: 0 5px;
  background: white;
  border-radius: 5px;
}

.change-img-btn:hover {
  cursor: pointer;
}

/* 设置类以改变图片的摆放和样式 */
.active-btn {
  background-color: #ffccff;
}